Django==1.8                                                                                    
django-extensions==1.5.2
django-suit==0.2.13
django-suit-ckeditor==0.0.2
Pillow
django-datetime-widget
python-dateutil
django-photologue
django-simple-captcha
