{% extends "base.html" %}

{% block submenu %}
  <div id="MENUE2">
	<a class="link1" href="{% url 'intern_booking' %}">
      <span class="glyphicon glyphicon-chevron-right"></span>
      BOOKING
    </a>
	<a class="link1" href="{% url 'intern_schichtplan' %}">
      <span class="glyphicon glyphicon-chevron-right"></span>
      SCHICHTPLAN
    </a>
	<a class="link1" href="{% url 'intern_todo' %}">
      <span class="glyphicon glyphicon-chevron-right"></span>
      TO-DO-LIST
    </a>
	<a class="link1" href="{% url 'intern_clubtreffen' %}">
      <span class="glyphicon glyphicon-chevron-right"></span>
      CLUBTREFFEN
    </a>
	<a class="link1" href="{% url 'intern_galerie' %}">
      <span class="glyphicon glyphicon-chevron-right"></span>
      GALERIE
    </a>
	{% if request.user.is_staff %}
	<a class="link1" href="{% url 'admin:index' %}">
      <span class="glyphicon glyphicon-chevron-right"></span>
      ADMIN
    </a>
	{% endif %}
	<a class="link1" href="{% url 'intern_mail' %}">
      <span class="glyphicon glyphicon-chevron-right"></span>
      MAIL
    </a>
	<a class="link1" href="{% url 'intern_kollektiv' %}">
      <span class="glyphicon glyphicon-chevron-right"></span>
      KOLLEKTIV
    </a>
  </div>
{% endblock %}

{% block sidebar %}
  Eingeloggt als <b>{{ request.user }}</b>.
  <br /><br />
  <form method="get" action="{% url 'intern_edit_profile' %}">
  {% csrf_token %}
  <input type="submit" value="Profil editieren" class="btn btn-default" />
  </form>

  <form method="post" action="{% url 'django.contrib.auth.views.logout_then_login' %}">
  {% csrf_token %}
  <input type="submit" value="Logout" class="btn btn-default" />
  </form>
{% endblock %}
