{% extends "intern/base_internal.html" %}

{% block content %}
  <div id="inhalt-inner">
    <h3>Jahresplaner {{ year }}</h3>

    <div class="btn-group booking-btn" role="group" aria-label="Basic example">
      {% for y in year_range %}
        <a href="{% url 'intern_booking' %}{{ y }}" class="btn {% if y|add:0 == year|add:0 %}btn-primary btn-link-active{% else %}btn-default{% endif %}">{{ y }}</a>
      {% endfor %}
    </div>

    <div class="booking-btn">
      <a href="{% url 'intern_booking_edit' %}"><span class="glyphicon glyphicon-plus"></span> Neues Booking mit individuellem Datum</a>
    </div>

    <table class="table">
      <tr>
        <th>Termin</th>
        <th>Art</th>
        <th>Name</th>
        <th>Verantwortlich</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
      {% if not bookings %}
        <tr class="empty-error">
          <td colspan="6">Keine Bookings vorhanden.</td>
        </tr>
      {% endif %}
      {% for booking in bookings %}
        <tr class="{{ booking.state }}">
          <td>{{ booking.date }}</td>
          <td>{{ booking.type }}</td>
          <td>{{ booking.name }}</td>
          <td>{{ booking.responsible|default:'' }}</td>
          <td>{{ booking.state }}</td>
          <td><a href="{% url 'intern_booking_edit' %}{{ booking.id|default:'' }}" title="editieren"><span class="glyphicon glyphicon-pencil"></span></a></td>
		  <td>{% if booking.state != 'frei' %}<a href="{% url 'intern_booking_del' %}{{ booking.id|default:'' }}" title="löschen"><span class="glyphicon glyphicon-remove"></span></a>{% endif %}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
