{% extends "intern/base_internal.html" %}

{% block content %}
  <div id="inhalt-inner">
    <h3>Clubtreffen {{ year }}</h3>

    <div class="btn-group booking-btn" role="group" aria-label="Basic example">
      {% for y in year_range %}
        <a href="{% url 'intern_clubtreffen' %}{{ y }}" class="btn {% if y|add:0 == year|add:0 %}btn-primary btn-link-active{% else %}btn-default{% endif %}">{{ y }}</a>
      {% endfor %}
    </div>

    <div class="booking-btn">
      <a href="{% url 'intern_clubtreffen_edit' %}"><span class="glyphicon glyphicon-plus"></span> Neues Clubtreffen</a>
    </div>

    <table class="table">
      <tr>
        <th>Termin</th>
        <th>Gastgeber</th>
        <th>Adresse</th>
        <th></th>
      </tr>
      {% if not meetings %}
        <tr class="empty-error">
          <td colspan="6">Keine Clubtreffen vorhanden.</td>
        </tr>
      {% endif %}
      {% for meeting in meetings %}
        <tr class="{{ meeting.state }}">
          <td>{{ meeting.date }}</td>
          <td>{{ meeting.host }}</td>
          <td>{{ meeting.address }}</td>
          <td><a href="{% url 'intern_clubtreffen_edit' %}{{ meeting.id }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
