{% extends "intern/base_internal.html" %}

{% block content %}
  <div id="inhalt-inner">
    <h3>Schichtplan {{ year }}</h3>

	Der Schichtplan ist lediglich eine andere Sicht auf die Bookings. Um Bookings anzulegen und zu löschen, wähle "Booking" im Menü.
	<br />

    <div class="btn-group booking-btn" role="group">
      {% for y in year_range %}
        <a href="{% url 'intern_schichtplan' %}{{ y }}" class="btn {% if y|add:0 == year|add:0 %}btn-primary btn-link-active{% else %}btn-default{% endif %}">{{ y }}</a>
      {% endfor %}
    </div>

    <table class="table">
      <tr>
        <th>Termin</th>
        <th>Frühschicht</th>
        <th>Spätschicht</th>
        <th>Bandbetreuung</th>
        <th>Status</th>
        <th></th>
      </tr>

      {% if not show_full_year and hidden > 0 %}
        <tr>
          <td colspan="7" style="text-align: center; text-decoration: underline;">
            <a href="{% url 'intern_schichtplan' %}?full=1" style="color: #337ab7;">vergangene Termine zeigen</a>
          </td>
        </tr>
      {% endif %}

      {% for booking in bookings %}
	  {% if show_full_year or not booking.in_past %}
        <tr class="{{ booking.state }}">
          <td>{{ booking.date|date:"d.m.Y" }}</td>
          <td>{{ booking.early_shift }}</td>
          <td>{{ booking.late_shift }}</td>
          <td>{{ booking.band_care }}</td>
          <td>{{ booking.state }}</td>
          <td><a href="{% url 'intern_booking_edit' %}{{ booking.id|default:'' }}" title="editieren"><span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
      {% endif %}
      {% endfor %}
    </table>
  </div>
{% endblock %}
