{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="inhalt-inner">
  {% block prefix %}{% endblock %}
  {% for booking in bookings %}
    <div class="event">
      <div id="NEWSDAT">{{ booking.date }}</div>
      <div id="NEWSTHEM">
        <img src="{% static "img/veb_logo_kl.gif" %}" height=50>
        <span class="spaced-headline">{{ booking.headline }}</span>
        <img src="{% static "img/veb_logo_kl.gif" %}" height=50>
      </div>
      <div class="event-content">
        <span id="NEWSPIC">
          {% if booking.image %}
            <img width="210" src="/uploads/{{ booking.image }}">
          {% else %}
            <img width="210" src="{% static "img/na.jpg" %}">
          {% endif %}
        </span>
        <div id="NEWSIN">{{ booking.description }}</div> 
		{% if booking.link %}
          <br /><i><a href="{{ booking.link }}">Mehr Infos im Web</a></i>
        {% endif %}
        <div style="clear: both"></div>
      </div>
    </div>
  {% endfor %}
  {% block postfix %}{% endblock %}
  {% if bookings|length > 1 %}
  <div class="pagination">
    <span class="step-links">
      {% if bookings.has_previous %}
      <a href="?page={{ bookings.previous_page_number }}">&laquo;</a>
      {% endif %}

      <span class="current">
        Seite {{ bookings.number }} von {{ bookings.paginator.num_pages }}
      </span>

      {% if bookings.has_next %}
        <a href="?page={{ bookings.next_page_number }}">&raquo;</a>
      {% endif %}
    </span>
  </div>
  {% endif %}
</div>
{% endblock %}
